.card {
  margin-left: 3rem;
  box-shadow: 0 20px 20px -6px rgb(49, 49, 49);
  color: rgb(80, 78, 78);
}

.card:hover {
  transform: scale(1) rotateZ(calc(5 * -2deg));
}

.name {
  color: black;
  text-transform: uppercase;
}
