.homeLink {
  display: flex;
  justify-content: flex-end;
}

.loginForm {
  background-color: rgb(209, 208, 204);
  height: 100vh;
}

.homeBtn {
  font-size: 30px;
  padding-bottom: 3rem;
  margin-bottom: 25rem;
  background-color: rgb(112, 245, 245);
  color: black;
}

h4 {
  margin: 0 0 10rem 5rem;
}

.homeBtn:hover {
  color: whitesmoke;
}

.btn {
  background-color: rgb(25, 238, 210);
  font-size: 25px;
  padding-bottom: 2.4rem;
  margin: 20px 5px 0 5px;

  /* border-radius: 1.5rem; */
}

.btn:hover {
  background-color: rgb(54, 70, 3);
  color: whitesmoke;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 0.625rem 1.25rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
