.ticketDetails {
  font-size: 20px;
}

.btn {
  background-color: rgb(180, 26, 6);
  font-size: 18px;
  color: whitesmoke;
  padding: 0.5rem 1.7rem;
  border-radius: 1.5rem;
}

.btn:hover {
  background-color: rgb(99, 15, 4);
  color: whitesmoke;
}
