.App {
  text-align: center;
  background-color: rgb(252, 247, 247);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  text-decoration: none;
  margin: 0;
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projet {
  display: flex;
  margin: 10px 3rem;
  background-color: #fff;
  border: 1px solid #fff;
}

.column h1 {
  color: rgb(20, 18, 18);
  font-size: x-large;
  padding-bottom: 2rem;
  display: flex;
}

.column p {
  text-align: center;
  padding: 10px 50px;
}

.projet h1,
.content {
  padding: 10px;
}

.column.rp p {
  font-size: 18px;
  color: #777;
}

.affiche {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  column-gap: 2rem;
}

.detail-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.column img {
  width: 30rem;
  margin: 2rem;
}

.tag-price {
  padding: 1rem 1.7rem;
  font-size: 2rem;
  color: rgb(93, 93, 133);
}

.column h3 {
  font-size: xx-large;
  color: rgb(63, 13, 13);
  padding-bottom: 3rem;
}

.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: rgb(240, 233, 233);
  margin: auto;
}

.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.content {
  margin-left: auto;
  padding: 5px 3rem;
  display: flex;
  font-size: 2rem;
}

.header {
  padding: 10px 3rem;
  font-size: 1.5rem;
  color: #282c34;
}

.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.grid.container {
  margin-top: 35px;
}

.ui.grid > .row {
  background: #fff;
}

.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}

.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.nav {
  background-color: #61dafb;
  color: #fff;
  font-size: 3.5rem;
  padding: 10px 0;
  text-align: center;
}

.nav h1 {
  text-align: center;
  margin: auto;
  font-size: 3rem;
  font-weight: bolder;
}

.formulaire {
  text-align: center;
  font-size: 2rem;
}

.itm,
.rat {
  height: 1.7rem;
  margin: 0 3rem;
  padding: 1px 10px;
  width: 25%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 150px;
  height: 1.8rem;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #fff;
}

ul.taskList {
  padding: 0 25px;
  width: 40%;
  margin-left: auto;
  margin-top: 3rem;
}

li.task {
  list-style-type: none;
  font-size: 1.2em;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

li.task:hover .deleteTaskBtn {
  visibility: visible;
  opacity: 1;
}

input.taskCheckbox {
  position: relative;
  float: left;
  margin-right: 10px;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-left: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

input.taskCheckbox:checked::after {
  color: green;
  content: "\2713";
  display: block;
  font-size: 17px;
  height: 17px;
  position: absolute;
  width: 17px;
  left: 0.5px;
  bottom: 2px;
}

input.taskCheckbox + label.taskLabel {
  color: black;
}

input.taskCheckbox:checked + label.taskLabel {
  text-decoration: line-through;
  color: #656565;
}

input[placeholder] {
  font-size: 1.1em;
}

.btn- {
  background-color: rgb(151, 191, 15);
  font-size: 28px;
  color: whitesmoke;
  padding: 0.7rem 1.7rem;
  border-radius: 1.5rem;
}

.listWrapper {
  position: absolute;
  bottom: 50px;
  top: 120px;
  right: 0;
  left: 0;
  overflow: auto;
}

.listWrapper input[type=text] {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  border-radius: 15px;
}

.desc {
  margin-left: 3rem;
}
